.brand-logo {
	height: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}
body>.container{
	margin-top: 40px;
}
body{
	background-image: url('../images/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.card{
	border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
}
.card-content {
	border-radius: 0px 0px 20px 20px !important;
	-moz-border-radius: 0px 0px 20px 20px !important;
	-webkit-border-radius: 0px 0px 20px 20px !important;
}
#maintext{
	font-size: 20px !important;
	font-weight: 200;
}
h2{
	margin: 5px 0px 5px 0px;
}
div#formrow.row{
	margin-bottom: 0px !important;
}
#message{
	color: red;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
#inform{
	border: 1px solid darkgray !important;
}
form{
	margin-bottom: 0px;
}
